---
import Layout from '../layouts/Layout.astro';
import Building from '../components/Building.astro';
---

<Layout title="Love Actually">
  <main class="bg-laBackground">
    <section id="Hero section" class="max-w-6xl bg-laBeige container mx-auto py-12 px-8">
      <Building />
    </section>
  </main>
</Layout>