---
import Layout from "../layouts/Layout.astro";
import { qaText } from "../config/text";
import LaH1 from "../components/ui/LaH1.astro";
---

<Layout title="Q&A | Love Actually | Webs de bodas" description="Preguntas frecuentes sobre nuestras webs de bodas e invitaciones digitales">
  <main class="bg-laBackground">
    <section class="container max-w-6xl px-8 py-12 mx-auto bg-gray-50">
      <LaH1 class="text-center text-laOrange mb-6">Preguntas frecuentes</LaH1>
      <div class="max-w-2xl mx-auto">
        {
          qaText.map((qa) => (
            <details class="mt-2">
              <summary class="cursor-pointer bg-laBeige p-4">{qa.question}</summary>
              <p class="p-4">{qa.answer}</p>
            </details>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
<style>
  details[open] summary ~ * {
    animation: sweep 0.3s ease-in-out;
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      margin-left: -10px;
    }
    100% {
      opacity: 1;
      margin-left: 0px;
    }
  }
</style>
