---
import Layout from "../layouts/Layout.astro";
import LaH2 from "../components/ui/LaH2.astro";
import LaH3 from "../components/ui/LaH3.astro";
import LaH1 from "../components/ui/LaH1.astro";
---

<Layout
  title="Servicios | Love Actually | Webs de bodas"
  description="Servicios: 💍 Webs de boda a medida y personalizadas 🌷 Invitaciones digitales"
>
  <main class="bg-laBackground">
    <section class="max-w-6xl bg-gray-50 container mx-auto py-12 px-8">
      <LaH1 class="text-center text-laOrange font-alNevrada">Servicios</LaH1>
    </section>

    <section class="max-w-6xl bg-laBeige container mx-auto py-12 px-8">
      <div
        class="grid grid-cols-1 items-center gap-y-6 md:grid-cols-2 md:gap-16"
      >
        <div>
          <LaH2>Webs de bodas personalizadas</LaH2>
          <p class="text-center">
            Queremos ponéroslo fácil con una web que se adapte 100% a vuestras
            necesidades y os ayude a organizar vuestra boda de una manera
            ordenada y sencilla.
          </p>
          <div class="mt-6 flex justify-center">
            <a
              class="bg-laSoftGreen px-5 py-3 font-medium text-white sm:w-auto"
              href="/contacto"
            >
              ¿Quieres saber más?
            </a>
          </div>
        </div>
        <div>
          <img
            src="/web-boda-personalizada.jpeg"
            alt="web de bodas personalizada"
          />
        </div>
      </div>
    </section>
    <section class="max-w-6xl bg-gray-50 container mx-auto py-12 px-8">
      <div
        class="grid grid-cols-1 items-center gap-y-6 md:grid-cols-2 md:gap-16"
      >
        <div>
          <img
            src="/invitaciones-digitales.jpeg"
            alt=""
            class="object-cover aspect-[4/3]"
          />
        </div>
        <div>
          <LaH2 class="">Invitaciones digitales</LaH2>
          <p class="text-center">
            Si os gustaría enviar las invitaciones de vuestra boda de manera
            digital, ¡podéis contar también con nosotros! Prepararemos un diseño
            original que os permitirá ahorraros muchos desplazamientos.
          </p>
        </div>
      </div>
    </section>

    <section class="max-w-6xl bg-laBeige container mx-auto py-12 px-8">
      <div
        class="grid grid-cols-1 items-center gap-y-6 md:grid-cols-2 md:gap-16"
      >
        <div>
          <LaH2>Papelería y diseño de seating plan</LaH2>
          <p class="text-center">
            Vuestra boda tiene que respirar vuestra esencia y no hay mejor
            manera de hacerlo que mediante el diseño de toda la papelería:
            invitaciones, seating plan, marcasitios, detalles…
          </p>
        </div>
        <div>
          <img
            src="/papeleria-seating-plan.jpeg"
            alt=""
            class="object-cover aspect-[4/3]"
          />
        </div>
      </div>
    </section>

    <section class="max-w-6xl bg-gray-50 container mx-auto py-12 px-8">
      <LaH2 class="text-laOrange">¿Tenéis alguna idea?</LaH2>
      <p class="text-laOrange text-center">
        ¡No queremos cortaros las alas! Si vuestra imaginación va más allá de
        los servicios que os proponemos, sentíos libres de contarnos vuestras
        ideas, estaremos encantados de ayudaros en todo lo que podamos.
      </p>
      <div class="mt-6 flex justify-center">
        <a
          class="bg-laOrange px-5 py-3 font-medium text-laBeige"
          href="/contacto"
        >
          ¡Cuéntanos!
        </a>
      </div>
    </section>
  </main>
</Layout>
