---
import Layout from "../layouts/Layout.astro";
import LaH2 from "../components/ui/LaH2.astro"
import LaH3 from "../components/ui/LaH3.astro";
---

<Layout
  title="Servicios | Love Actually | Webs de bodas"
  description="Servicios: 游눐 Webs de boda a medida y personalizadas 游꺙 Invitaciones digitales"
>
  <main class="bg-laBackground">
    <section class="max-w-6xl bg-laRed container mx-auto py-12 px-8">
      <h1
        class="mb-6 text-3xl leading-normal tracking-widest text-center text-laBeige md:text-4xl lg:text-5xl font-alNevrada"
      >
        Servicios
      </h1>
    </section>
    <section class="max-w-6xl bg-laSoftBlue container mx-auto py-12 px-8">
      <LaH2>Webs de bodas personalizadas</LaH2>
      <p></p>
      <LaH3>쯇or qu칠 es importante tener una web de vuestra boda?</LaH3>
      <p>Nos gusta poner las cosas f치ciles y solo se nos ocurre una manera de organizar a todos vuestros seres queridos de forma sencilla y ordenada</p>



      <LaH2 class="text-laRed">Invitaciones digitales</LaH2>

      <LaH2>Papeler칤a y dise침o de seating plan</LaH2>

      <LaH2>쯊eneis alguna idea?</LaH2>
      <p>Si vuestra imaginaci칩n va m치s all치 de los servicios que os proponemos sentios libres de contarnos vuestras ideas y nosotros estaremos encantados de adaptarnos a vosotros en todo lo que podamos.</p>
    </section>
  </main>
</Layout>
