---
import Layout from "../layouts/Layout.astro";
import Building from "../components/Building.astro";
import LaH1 from "../components/ui/LaH1.astro";
import LaH2 from "../components/ui/LaH2.astro";
---

<Layout
  title="Sobre nosotros | Love Actually | Webs de bodas"
  description="Sobre nosotros: 游눐 Webs de boda a medida y personalizadas 游꺙 Invitaciones digitales"
>
  <main class="bg-laBackground">
    <section class="container max-w-6xl px-8 py-12 mx-auto bg-laSoftGreen">
      <LaH1 class="text-center text-laRed">Sobre nosotros</LaH1>
      <p class="text-laBeige text-center text-lg">
        Somos unos locos de las bodas y la programaci칩n (cada uno, lo suyo) que
        han unido dos de sus pasiones para crear este proyecto.
      </p>
    </section>
    <section class="container max-w-6xl px-8 py-12 mx-auto bg-gray-50">
      <div
        class="grid grid-cols-1 items-center gap-y-6 md:grid-cols-3 md:gap-16"
      >
        <div class="col-span-2">
          <LaH2>Con칩cenos un poquito m치s</LaH2>
          <p class="text-laGreen text-center mt-4">
            Algunas de las cosas que m치s nos gustan son viajar, disfrutar con
            los que m치s queremos, las sobremesas eternas, un buen concierto...
            <br /><br />
            Despu칠s de hacer algunas webs de bodas a amigos, pensamos en lo divertido
            que ser칤a poder conocer a otras parejas y ayudarles a organizar su boda
            con una web que refleje su personalidad y que invite a empezar a disfrutar:
            porque una boda se celebra desde la invitaci칩n, 쯡o?
          </p>
          <div class="mt-6 flex justify-center">
            <a
              class="bg-laRed px-5 py-3 font-medium text-white sm:w-auto text-center"
              href="/contacto"
            >
              쯈uieres saber m치s?
            </a>
          </div>
        </div>
        <img class="aspect-square object-cover" src="/invitation.jpeg" alt="" />
      </div>
    </section>
  </main>
</Layout>
