---
import Layout from "../layouts/Layout.astro";
import LaH1 from "../components/ui/LaH1.astro";
import Review from "../components/Review.astro";
import { reviewsText } from "../config/text";
---

<Layout
  title="Testimonios | Love Actually | Webs de bodas"
  description="Testimonios de clientes reales de nuestras webs de boda a medida y personalizadas e invitaciones digitales"
>
  <main class="bg-laBackground">
    <section class="container max-w-6xl px-8 py-12 mx-auto bg-gray-50">
      <LaH1 class="mb-6 text-center text-laOrange">Testimonios</LaH1>
      <div class="max-w-2xl mx-auto">
        {
          reviewsText.map((review) => (
            <Review {...review} />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
