<div class="max-w-lg mx-auto">
  <div>
    <img class="mx-auto max-w-xs" src="/building-page.png" alt="en construcción" />
  </div>
  <p class="text-center mt-6">
    Estamos tan liados creando webs de bodas que todavía no hemos podido ponernos con esta parte de la nuestra, pero en seguida te contamos más sobre LOVE ACTUALLY por aquí. :)
  </p>
</div>