---
import { Resend } from "resend";

const resend = new Resend(import.meta.env.RESEND_API_KEY);

if (Astro.request.method === "POST") {
  try {
    // Getting posted data from our contact form
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const message = data.get("message");
    console.log(name, email, message);
    console.log('SEND EMAIL');

    // await resend.emails.send({
    //   from: "Acme <onboarding@resend.dev>",
    //   to: ["jaimefrm93@gmail.com"],
    //   subject: "hello world",
    //   text: "it works!",

    //   headers: {
    //     "X-Entity-Ref-ID": "123456789",
    //   },
    //   tags: [
    //     {
    //       name: "category",
    //       value: "confirm_email",
    //     },
    //   ],
    // });
  } catch (error) {
    console.log(error);
  }
}
---

<div class="bg-white p-8 shadow-md lg:col-span-3 lg:p-10">
  <form method="POST" class="space-y-4">
    <div>
      <label class="sr-only" for="name">Nombre</label>
      <input
        class="w-full border-gray-200 p-3 focus:ring-laGreen focus:border-laGreen"
        placeholder="Nombre"
        type="text"
        name="name"
        id="name"
      />
    </div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <div>
        <label class="sr-only" for="email">Email</label>
        <input
          class="w-full border-gray-200 p-3 focus:ring-laGreen focus:border-laGreen"
          placeholder="Email"
          type="email"
          name="email"
          id="email"
        />
      </div>

      <div>
        <label class="sr-only" for="phone">Teléfono</label>
        <input
          class="w-full border-gray-200 p-3 focus:ring-laGreen focus:border-laGreen"
          placeholder="Teléfono"
          type="tel"
          name="phone"
          id="phone"
        />
      </div>
    </div>

    <!-- <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
      <div>
        <label
          for="Option1"
          class="block w-full cursor-pointer rounded-lg border border-gray-200 p-3 text-gray-600 hover:border-black has-[:checked]:border-black has-[:checked]:bg-black has-[:checked]:text-white"
          tabindex="0"
        >
          <input
            class="sr-only"
            id="Option1"
            type="radio"
            tabindex="-1"
            name="option"
          />

          <span class="text-sm"> Option 1 </span>
        </label>
      </div>

      <div>
        <label
          for="Option2"
          class="block w-full cursor-pointer rounded-lg border border-gray-200 p-3 text-gray-600 hover:border-black has-[:checked]:border-black has-[:checked]:bg-black has-[:checked]:text-white"
          tabindex="0"
        >
          <input
            class="sr-only"
            id="Option2"
            type="radio"
            tabindex="-1"
            name="option"
          />

          <span class="text-sm"> Option 2 </span>
        </label>
      </div>

      <div>
        <label
          for="Option3"
          class="block w-full cursor-pointer rounded-lg border border-gray-200 p-3 text-gray-600 hover:border-black has-[:checked]:border-black has-[:checked]:bg-black has-[:checked]:text-white"
          tabindex="0"
        >
          <input
            class="sr-only"
            id="Option3"
            type="radio"
            tabindex="-1"
            name="option"
          />

          <span class="text-sm"> Option 3 </span>
        </label>
      </div>
    </div> -->

    <div>
      <label class="sr-only" for="message"
        >Puedes dejarnos un mensaje aquí</label
      >

      <textarea
        class="w-full border-gray-200 p-3 focus:ring-laGreen focus:border-laGreen"
        placeholder="Puedes dejarnos un mensaje aquí"
        rows="5"
        id="message"></textarea>
    </div>

    <div class="mt-4">
      <button
        type="submit"
        class="inline-block w-full bg-laSoftGreen px-5 py-3 font-medium text-white sm:w-auto"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
